@{
    ViewData["Title"] = "Home";
}

<div>
    <h2 style="text-align:center">Mūsu algoritms spēj atpazīt šādas zivis</h2>
    <div class="container justify-content-center">
        <div class="row container-photo1 text-center">
            <div class="col-sm-6">
                <label class="label-photo" for="asaris">asaris</label>
                <div class="container-photo" id="asaris"></div>
            </div>
            <div class="col-sm-6">
                <label class="label-photo" for="linis">linis</label>
                <div class="container-photo" id="linis"></div>
            </div>
        </div>
        <div class="row container-photo1">
            <div class="col-sm-6 container-photo">

            </div>
            <div class="col-sm-6 container-photo">

            </div>
        </div>
        <div class="row container-photo1">
            <div class="col-sm-6 container-photo">

            </div>
            <div class="col-sm-6 container-photo">

            </div>
        </div>
        <div class="row container-photo1">
            <div class="col-sm-6 container-photo">

            </div>
            <div class="col-sm-6 container-photo">

            </div>
        </div>
        <div class="row container-photo1">
            <div class="col-sm-6 container-photo">

            </div>
            <div class="col-sm-6 container-photo">

            </div>
        </div>
    </div>
</div>
